@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d303d;
  overflow-x: hidden;
}
.intro {
  display: flex;
  width:100%;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

.content {
  display: block;
  color: white;
  margin-top: 10vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0 7%;
  max-width: 800px;
  margin-left: -10vh;
}

.content h1 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 40px;
}
.content h3 {
  font-weight: 600;
  margin-bottom: 5px;
  color: rgb(242, 120, 120);
}
.content p {
  max-width: 550px;
  line-height: 2;
}

.prof-pic {
  height: auto;
  margin-top: 80px; 
  opacity: 80%;
  max-width: 100%;

}
.socials {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.socials a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(242, 120, 120);
  border-radius: 50%;
  font-size: 23px;
  color: rgb(242, 120, 120);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.socials a:hover {
  color: #2d303d;
}

.socials a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(242, 120, 120);
  z-index: -1;
  transition: 0.5s;
}

.socials a:hover::before {
  width: 100%;
}
