@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d303d;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.portfolio {
  color: rgb(242, 120, 120);
}

/* For Buttons ----------------------------------------------------------- */
.buttons {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, rgb(70, 70, 242), rgb(242, 122, 122));
  border-image-slice: 10;
  overflow: hidden;
}
.buttons button {
  background-color: #2d303d;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 24px;
  border: none;
  transition: 0.3s;
}
.buttons button:hover {
  cursor: pointer;
  color: rgb(201, 201, 244);
}
.active,
.buttons button.active {
  color: rgb(181, 181, 239);
}

/* For Content ----------------------------------------------------------- */
.divs {
  margin-top: 30px;
  display: none;
}
.current {
  display: flex;
}
.personal {
  /* background-color: darkgoldenrod ; */
  min-height: 65vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.personal .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 30px;
  min-height: 65vh;
  max-height: 65vh;
  max-width: 25.4vw;
  border: 5px solid black;
  background-color: #efffff;
}
.personal .card-image {
  position: relative;
  width: 21vw;
  height: 25vh;
  border-radius: 25px;
  border: 3px solid hsl(229, 15%, 21%);
  background: #2d303d;
}
.personal .card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.personal .card-content {
  margin-top: 10px;
}
.personal h2 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 600;
}
.work-content:hover {
  cursor: pointer;
}

/* For Modals ----------------------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 74vw;
  height: 82vh;
  /* width: 66.6rem;
  height: 37rem; */
  transform: translate(-50%, -50%);
  background: #6d7575;
  z-index: 10;
  border-radius: 35px 8px 35px 35px;
  overflow: hidden;
}
.modal-images {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 41%;
  background-color: rgb(154, 154, 130);
  padding: 0 60px;
  border-radius: 35px 8px 35px 0;
  border: 3px solid black;
}
.modal .close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 13px;
  top: 12px;
  max-height: 35px;
  max-width: 35px;
  height: auto;
  color: black;
  font-size: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.modal-images i {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: rgb(184, 184, 127);
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 20;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.modal-images i:first-child {
  left: 25px;
}
.modal-images i:last-child {
  right: 25px;
}
.modal-images .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 8px);
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .modal-img {
  cursor: grab;
  user-select: none;
}
.carousel .modal-img {
  scroll-snap-align: start;
  list-style: none;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .modal-images .carousel {
    grid-auto-columns: calc((100% / 2) - 8px);
  }
}
@media screen and (max-width: 600px) {
  .modal-images .carousel {
    grid-auto-columns: 100%;
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
.modal .modal-text-container {
  width: 100%;
  height: 59%;
  display: flex;
  flex-direction: row;
}
.modal .modal-text-container .technologies {
  min-width: 35%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 0 0 0 35px;
  border-top: none;
}
.modal .modal-text-container .technologies h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30px;
}
.modal .modal-text-container .technologies ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
  grid-gap: 20px; /* Adjust the gap between columns */
  padding: 0;
  margin-left: 2vw;
}
.modal .modal-text-container {
  display: flex;
}
.modal .modal-text-container .technologies ul li {
  font-size: 20px;
}
.modal .modal-text-container .technologies a {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
  font-size: 18px;
}
.modal .modal-text-container .technologies a i {
  font-size: 40px;
  color: black;
  margin-right: 5px;
}
.modal .modal-text-container .modal-description {
  min-width: 65%;
  min-height: 100%;
}
.modal .modal-text-container .modal-description h3,
.modal .modal-text-container .modal-description p {
  margin-left: 30px;
}

.modal .modal-text-container .modal-description h3 {
  display: inline-block;
  margin-top: 15px;
  font-size: 30px;
  border-bottom: 3px solid rgb(49, 48, 48);
}

.modal .modal-text-container .modal-description p {
  margin-top: 15px;
  max-width: 90%;
  font-size: 17px;
}
