{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/about-style.css' %}">
    </head>
    <body>
        {% include 'base/navbar.html' %}
        <div class="main-container">
            <div class="image-wrapper">
                <img src="{% static 'images/cat2.png' %}" alt="cat">
            </div>
            <div class="content-container">
                <h1>ABOUT</h1>
                <div class="buttons" id="buttons">
                    <button class="btn active" id="about-me">About Me</button>
                    <button class="btn" id="education">Education</button>
                    <button class="btn" id="hobbies">Hobbies</button>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>